<div style="width: 50%">

  <p>
    <%= f.text_field :name, :required => true, :size => 50 %>
    <%= f.text_area :comment, :required => false, :cols => 100 %>
    <%= f.check_box :is_file %>
    <%= f.text_area :helper, :required => false, :cols => 100, :rows => 20 %>
  </p>

</div>